.converter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

label {
  margin-right: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}
